body {
    position: fixed;
    top: 0;
    left: 0;
    background: url(https://bocchi.rocks/assets/img/page/top/mainvisual/ph_bg.png) no-repeat 0 0/cover, #000;
    height: 100%;
    width: 100%;
}

.header {
  text-align: center;
  padding: 0 0 20px 0;
}


.logo {
    float:left;
    width: 20%;
    height: 20%;
    padding: 0 0 0 15px;
}

.box {
	border: 1px solid;
	border-color: #9a9a9a;
	background: #fff;
	border-radius: 4px;
	padding: 10px;
	width: 700px;
	margin: 4% auto;
}

iframe{
  border: none;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

.video {
	float:right;
	height: 210;
	width: 373 ;
}

@keyframes chara_txtmove {
	from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }}

.txtmove {
  content: "";
  height: 10.6vw;
  width: 100%;
  position: absolute;
  bottom:-5%;
  -webkit-animation: chara_txtmove 15s linear infinite;
  animation: chara_txtmove 15s linear infinite;
  font-size: 100px;
  color: #FFFFFF;
}
